.matchgameButton {
  height: 100px;
  width: 100px;
  background-color: #710304;
  border: 3px solid white;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
}
